.section{
    min-height: 100vh;
    max-height: 100vh;
}

.sky{
    height: 60vh;
    background-color: #FFF6BD;
    background-size: 100% 100%;
    z-index: 100;
    animation: sky-init 1500ms;
}

@keyframes sky-init {
    0%{
        height: 100vh;
    }
    100%{
        height: 60vh;
    }
}

.rolldown{
    position: relative;
    animation: rolldown 1500ms;
}

@keyframes rolldown {
    0%{
        bottom: 50rem;
    }
    100%{
        bottom: 0rem;
    }
}

.sky .content{
    display: flex;
    height: 60vh;
    width: 100%;
    position: relative;
    bottom: 51.5vh;
    justify-content: center;
}

.title{
    text-align: center;
    color: #ABD9FF;
    font-family: 'Roboto Mono', monospace;
    position: relative;
    top: 15vh;
}

.title h1{
    font-size: 3rem;
    padding: 0;
    margin: 0;
    width: 0;
    overflow: hidden;
    margin: 0 auto;
    white-space: nowrap;
    animation: typing 2.5s steps(40, end);
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    text-shadow: 1px 1px 2px #434242;
}

.title h3{
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    width: 0;
    overflow: hidden;
    margin: 0 auto;
    white-space: nowrap;
    animation: typing 2.5s steps(40);
    animation-delay: 4.1s;
    animation-fill-mode: forwards;
    text-shadow: 1px 1px 2px #434242;
    padding-bottom: 5px;
}



@keyframes typing {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}



.cloud{
    height: 50px;
    position: relative;
    right: 100px;
}

.sun{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 100px;
    height: 100px;
    background-color: #ffde00;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #FFDE0080, 0 0 0 20px #FFDE0040, 0 0 0 30px #FFDE0020, 0 0 0 40px #FFDE0010, 0 0 20px 40px #FFDE0010;
    animation: sunrise 2s infinite linear forwards, rays 2s 2s infinite linear;
}

@keyframes sunrise {
    0%{
        box-shadow: none;
    }
}

@keyframes rays {
	0% {
		box-shadow: 
		0 0 0 0 #FFDE0080,
		0 0 0 10px #FFDE0080,
		0 0 0 20px #FFDE0040,
		0 0 0 30px #FFDE0020,
		0 0 0 40px #FFDE0010,
		0 0 20px 40px #FFDE0010;
	}
	100% {
		box-shadow: 
		0 0 0 10px #FFDE0080,
		0 0 0 20px #FFDE0040,
		0 0 0 30px #FFDE0020,
		0 0 0 40px #FFDE0010,
		0 0 20px 40px #FFDE0010;
	}
}

.scrollDown{
    width: 50px;
    height: 100px;
    border-style: solid; 
    border-radius: 27px;
    border-color: #333;
    position: relative;
    top: 15vh;
    left: 49vw;
    display: flex;
    justify-content: center;
}

.ball{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #333;
    position: relative;
    top: 13px;
    animation: ball 1.5s infinite;
}

@keyframes ball {

    50%{
        opacity: 0.7;
    }

    100%{
        top: 75px;
        opacity: 0;
    }
}

