.NavBar{
    position: fixed;
    height: 50px;
    width: 100%;
    display: flex;
    top: 0;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 999;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.hide{
    opacity: 0;
}

.scrolled_color{
   color: #ABD9FF !important;
}

.NavBarItem{
    font-size: 23px;
    padding: 0 10px;
    text-decoration: none;
    color: #FFF6BD;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    text-shadow: 1px 1px 2px #434242;
    display: inline-block;
    transition: all 0.2s;
}

.NavBarItem:hover{
    transform: scale(1.1);
}

.links div img{
    height: 30px;
    padding: 0 7px;
    transition: all 0.2s;
}

.links div img:hover{
    transform: scale(1.1);
}

.links{
    display: flex;
    flex-direction: row;
}

.logo{
    font-size: 17px;
    padding: 0 10px;
    text-decoration: none;
    color: #FFF6BD;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    text-shadow: 1px 1px 2px #434242;
    transition: opacity 1s;
}